<div class="board_container" style="display: none">
    <h1 class="site_title">Tic-Tac-Toe</h1>
    <div class="overlay_container"  style="display: none;">
        <span class="outcome"></span>
        <span class="game_over_state"></span>
        <div class="reset_game" style="display: none;">
          <% link_to (:controller => 'application', :action => 'index') do %>
            <span class="reset_text">
              Try Again
            </span>
          <% end %>
        </div>
        <div id="game_over_overlay" >
        </div>
    </div>
    <div class="board">
        <% @board_state = @board.board_state %>
        <% @board.width.times do |row| %>
          <% @board.width.times do |col| %>
            <span class="square_container" id=<%= col.to_s + "x" + row.to_s %>>

              <% if @board.state_of_location(col, row) == nil %>
                    <%= link_to( {:controller => 'board',
                                  :action => 'take_turn',
                                  :id => @board.id,
                                  :x => col,
                                  :y => row} , :remote => true, 
                                                :class => "square") do %>
                      <span class="ttt_square">  
                          &nbsp;
                      </span>
                    <% end %>
              <% else %>
                <% if @x_ai %>
                  <% @x = @x_ai %>
                  <% @y = @y_ai %>
                <% end %>
                  <% @display = true %>
                  <%= render :partial => "used_space" %>
              <% end %>
            </span>
          <% end %>
          <br>
        <% end %>
    </div>
</div>