<script type="text/javascript">
var links_disabled = false;

$('a').click(function(e){
  links_disabled = (links_disabled ? false : true);
});

$.ajax({
  ajaxStart: function(){
    $('a').attr('disabled', 'disabled');
  }
});
</script>


<div class="board_container" style="display: none">
  <h1 class="site_title">Tic-Tac-Toe</h1>
  
  <div class="overlay_container"  style="display: none;">
    <span class="outcome"></span>
    <span class="game_over_state"></span>
    <div id="game_over_overlay" ></div>
  </div>

  <div class="board">
    <% @board_state = @board.board_state %>
    <% @board.width.times do |row| %>
      <% @board.width.times do |col| %>
        <% if @board.state_of_location(col, row) == nil %>
          <span class="square_container" id=<%=  col.to_s + "x" + row.to_s %>>
            <%= link_to( {:controller => 'board', 
                              :action => 'take_turn', 
                              :id => @board.id,
                              :x => col, 
                              :y => row} , :remote => true, :onClick => "return links_disabled;") do %>
              <div class="ttt_square"> 
                &nbsp;
              </div>
            <% end %>
          </span>
        <% else %>
          <% if @x_ai %>
            <% @x = @x_ai %>
            <% @y = @y_ai %>
          <% end %>
          <% @display = true %>
          <%= render :partial => "used_space" %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </div>
  
</div>


