body{
  background: #e1e1e1;
  font-family: sans-serif;
  font-weight: 100;
}
a{
  text-decoration: none;
}
.site_title{
  padding: 0px;
  margin: 0px;
  font-weight: 100;
}
.browser_error{
  position: absolute;
  text-align: center;
  top: 40%;
  left: 50%;
  width: 500px;
  height: 100px;
  margin: -50px 0 0 -250px;
}

/***************************************************/
/*                 Welcome Stuff                   */
/***************************************************/
.welcome_container{
  /* center vertically and horizontally */

  position: absolute;
  
  top: 40%;
  left: 50%;
  width: 340px;
  height: 160px;
  margin: -80px 0 0 -175px;


}
  .welcome{
    display: block;
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));

    color: white;
    padding: 20px;
    

    height: 100px;
    width: 300px;
    
    /* left down size spread color */
    -moz-box-shadow: 0px 3px 5px 3px #555;
    -webkit-box-shadow: 0px 3px 5px 3px #555;
    box-shadow: 0px 3px 5px 3px #555;
    
    -moz-border-radius: 10px;
    border-radius: 10px;
    
    border: 5px solid #111;
  }
  
  .choose_turn{
    margin-top: 10px;
    padding-top: 10px;
    border-top: dotted 1px #e1e1e1;
  }
  
  .choose_options{
    padding: 0px;
    text-align: right;
  }
    /* css button theme from: 
      https://github.com/ubuwaits/css3-buttons/blob/gh-pages/css/buttons.css */
    .choose_options li{
      list-style: none;
      display: inline-block;
      margin-left: 20px;
      
      /* left down size spread color */
      -moz-box-shadow: 0px 1px 3px 1px #111;
      -webkit-box-shadow: 0px 1px 3px 1px #111;
      box-shadow: 0px 1px 3px 1px #111;
    
    
      background: #eee;
      background: -moz-linear-gradient(0% 100% 90deg, #ccc, #eee);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eee), to(#ccc));
      border: 1px solid #ccc;
      border-bottom: 1px solid #bbb;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      color: #333;
      font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
      font-size: 11px;
      font-weight: bold;
      line-height: 1;
      padding: 8px 0;
      text-align: center;
      text-shadow: 0 1px 0 #eee;
      width: 75px;
    }
    .choose_options li:hover{
      background: #ddd;
      background: -moz-linear-gradient(0% 100% 90deg, #bbb, #ddd);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ddd), to(#bbb));
      border: 1px solid #bbb;
      border-bottom: 1px solid #999;
      cursor: pointer;
      text-shadow: 0 1px 0 #ddd;
    }
    .choose_options li:active{
      border: 1px solid #aaa;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bbb), to(#888));

    }
      .choose_options li a,
      .choose_options li a:visited,
      .choose_options li a:active{
        color: black;
      }


/***************************************************/
/*                  Board Stuff                    */
/***************************************************/
.board_container{
    /* center vertically and horizontally */

  position: absolute;
  
  top: 40%;
  left: 50%;
  width: 500px;
  height: 500px;
  margin: -250px 0 0 -250px;

}

.board{
 background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
 padding: 10px;

  /* left down size spread color */
  -moz-box-shadow: 0px 3px 5px 3px #555;
  -webkit-box-shadow: 0px 3px 5px 3px #555;
  box-shadow: 0px 3px 5px 3px #555;
  
  -moz-border-radius: 10px;
  border-radius: 10px;

}
.ttt_square{
  display: inline-block;
  width: 137px;
  height: 137px;
  margin: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#333));
  -moz-border-radius: 5px;
  border-radius: 5px;

  /* left down size spread color */
  -moz-box-shadow:inset 0px 1px 2px 1px #000;
  -webkit-box-shadow: inset 0px 1px 2px 1px #000;
  box-shadow: inset 0px 1px 2px 1px #000;

}

.ttt_square:hover{
   background: -webkit-gradient(linear, left top, left bottom, from(#111), to(#222));
 
}
.ttt_square:active{
    background: -webkit-gradient(linear, left top, left bottom, from(#222), to(#111));
      /* left down size spread color */
  -moz-box-shadow: 0px 1px 2px 1px #000;
  -webkit-box-shadow:  0px 1px 2px 1px #000;
  box-shadow:  0px 1px 2px 1px #000;
}
