<div class="board_container" style="display: none">
  <h1 class="site_title">Tic-Tac-Toe</h1>
  <div class="board">
    <% @board_state = @board.board_state %>
    <% @board.width.times do |row| %>
      <% @board.width.times do |col| %>
        <% if @board.state_of_location(col, row) == nil or @board.state_of_location(col, row) != Board::COMPUTER %>
          <%= link_to :controller => 'board', 
                      :action => 'take_turn', 
                      :board => @board.id,
                      :x => col, 
                      :y => row do %>
            <div class="ttt_square"> 
              &nbsp;
            </div>
          <% end %>
        <% else %>
          <div class="ttt_square"> 
              <%= @board.state_of_location(col,row) %>
          </div>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </div>
  
</div>
