<script type="text/javascript">
$("a").live("click", function() {
     $("a").click(function(e) {
         e.preventDefault();
     }
});
</script>



<div class="welcome_container">
  <h1 class="site_title">Tic-Tac-Toe</h1>
  <div class="welcome">
    Hello!
    
    <div class="choose_turn">
      Would you like to go first?
  
      <ul class="choose_options">
        <li>
          <%= link_to( { :controller => 'board', :action => 'start_game', 
                                 :human_is_first => true  }, :remote => true) do %>
            <span>Yes</span>
          
          <% end %>
        </li>
        <li>
          <%= link_to( { :controller => 'board', :action => 'start_game', 
                                :human_is_first => false  }, :remote => true) do %>
            <span>No</span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

</div>