<!DOCTYPE html>
<html>
<head>
  <title>TicTacToeAi</title>
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
 <script type="text/javascript">
   isGoodBrowser = function isGoodBrowser()
{
    return (navigator.userAgent.indexOf('MSIE') ==-1);
}

 $(document).ready(function(){
   isAllowedToPlayGame = isGoodBrowser();
   if(!isAllowedToPlayGame){
     $('.shell').hide();
     $('.browser_error').show();
   } else {
     $('.browser_error').hide();
     $('.shell').show();
   }
   
 });
 </script>
 
</head>
<body>

<div class="shell" style="display: none">
  <%= yield %>
</div>
<div class="browser_error" style="display: none">
  This app will only be correctly displayed in webkit / gecko browsers.
</div>

<noscript class="browser_error">
  You must have javascript enabled.
</noscript>
</body>
</html>
